@tailwind base;
@tailwind components;
@tailwind utilities;
.first {
    display: flex;
    max-width: 70vw;
    margin: auto;
  
    justify-content: center;

  }

  .about_box{
   
    max-width: 100vw;
    max-height: "40px";
  }



